# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Solar.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\Solar\.idea\.idea.Solar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
